{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
<link href="/static/stylesheets/signin.css" rel="stylesheet">
{% endblock %}

{% block content_title %}
{% trans "Registration" %}
{% endblock %}

{% block content %}
<form action="" method="post" class="form-signin" role="form">
  <h2 class="form-signin-heading">{% trans "Registration" %}</h2>
  {% csrf_token %}
  {% if form.errors %}
  <p class="error">{% trans "Sorry, registration failed." %}</p>
  {% endif %}
  <input type="username" class="form-control" placeholder={% trans "Username" %} id="id_username" name="username" required autofocus><br />
  <input type="email" class="form-control" placeholder={% trans "E-mail" %} id="id_email" name="email" required><br />
  <input type="password" class="form-control" placeholder={% trans "Password" %} id="id_password1" name="password1" required><br />
  <input type="password" class="form-control" placeholder={% trans "Password" %} id="id_password2" name="password2" required><br />
  <input type="submit" name="submit" class="btn btn-lg btn-primary" value="{% trans "Create account" %}">
</form>
{% endblock %}
