{% extends "base.html" %}

{% block extra_head %}
<link href="/static/stylesheets/signin.css" rel="stylesheet">
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
  translate_page("loginpage", lang);
});
//]]></script>
{% endblock %}

{% block content_title %}
<span class="localizestring">Sign in</span>
{% endblock %}

{% block content %}

<form action='.' method='post' class="form-signin" role="form">{% csrf_token %}
  <h2 class="form-signin-heading">Please sign in</h2>
{% if form.errors %}
  <p class="error"><span class="localizestring">Sorry, that's not a valid username or password</span>.</p>
{% endif %}

  <input type="username" class="form-control" placeholder="username" id="username" name="username" required autofocus>
  <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
  <!-- label class="checkbox">
       <input type="checkbox" value="remember-me"> Remember me
  </label -->
   <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
   <input type="hidden" name="next" value="/" />
</form>

{% endblock %}
