
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="fi">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>

  <script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script type="text/javascript"
  src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
 <link type="text/css" rel="stylesheet"
  href="/static/stylesheets/cupertino/jquery-ui-1.10.4.custom.css" ></link>
  <link type="text/css" rel="stylesheet"
  href="/static/stylesheets/custom.css" ></link>
  <script type="text/javascript" src="/static/js/simple_translator.js"></script>
  <script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
  translate_page("basepage", lang);
});
//]]></script>

  {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}{% endblock %}" class="gradientN">

<header class="ui-corner-all">
 <nav class="ui-state-default ui-corner-bl ui-corner-tr">
    <ul class="headerlist">
      <li><a href="/"><span class="localizestring">Home</span></a></li>
      <li>
        {% if user.is_authenticated %}
          <a href="/accounts/logout"><span class="localizestring">Sign out</span></a>
        {% else %}
          <a href="/accounts/login"><span class="localizestring">Sign in</span></a>
        {% endif %}
      </li>
      <li>
        <a href="https://spreadsheets.google.com/spreadsheet/viewform?hl=en&key=0AoJvB3OLWygjdEFXODBQTWM3NWNFLUZidzZqLWM0cVE"><span class="localizestring">Contact</span></a>
      </li>
   </ul>
    </nav>
  <div class="htext ui-state-default ui-corner-all">
    <img src="/static/generated_assets/images/logo.svg" width="65" padding="5" align="left"></img>
    <a href="/"><h3 id="maintitle"><span class="localizestring">Music training</span> | {% block content_title %}{% endblock %}</h3></a>
  </div>

</header>
<div id="debug"></div>
<div id="body" class="ui-corner-all">
 {% block body %}
     <div class="content">
        {% block content %}{% endblock %}
      </div>
    {% endblock %}
  </div>
</body>
</html>
  
