<!DOCTYPE html>
<html lang="fi">
  <!-- TODO
       * set html lang tag dynamically
       * add logo
       -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load i18n %}
    <title>{% trans "Music training" %} | {% block content_title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript"src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/custom.css" ></link>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
$("a.lang").click(function(e) {
   e.preventDefault();
   $("form.langchooser").submit();
});});
</script>
  {% block extra_head %}{% endblock %}

  </head>


  <body id="{% block body_id %}{% endblock %}" role="document">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <img src="/static/generated_assets/images/logo.svg" width="35" align="left" padding="1"/>

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{% trans "Vesa's Music Trainer" %}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">{% trans "Home" %}</a></li>
            <li>
              {% if user.is_authenticated %}
              <a href="/accounts/logout">{% trans "Sign out" %}</a>
              {% else %}
              <a href="/accounts/login">{% trans "Sign in" %}</a>
              {% endif %}
            </li>
            <li>
              <a href="/news">{% trans "News" %}</a>
            </li>
            <li>
              <a href="https://spreadsheets.google.com/spreadsheet/viewform?hl=en&key=0AoJvB3OLWygjdEFXODBQTWM3NWNFLUZidzZqLWM0cVE">{% trans "Contact" %}</a>
            </li>
            <li>
              {% get_current_language as LANGUAGE_CODE %}
              {% ifequal LANGUAGE_CODE "en" %}
                <form action="{% url 'set_language' %}" method="post" class="langchooser">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{request.path}}" />
                  <input type="hidden" name="language" value="fi" />
                  <a href="#" class="lang"><img src="/static/generated_assets/images/fi.png" /></a>
                </form>
              {% else %}
                <form action="{% url 'set_language' %}" method="post" class="langchooser">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{request.path}}" />
                  <input type="hidden" name="language" value="en-us" />
                  <a href="#" class="lang"><img src="/static/generated_assets/images/gb.png" /></a>
              </form>
              {% endifequal %}
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-fluid">
    {% block body %}
    {% block content %}{% endblock %}
    {% endblock %}
    </div>

</html>


