{% extends "base.html" %}

{% load i18n %}

{% block extra_head %}
<!-- script type="text/javascript" src="/static/js/news.js"></script -->
{% endblock %}

{% block content_title %}
{% trans "Home" %}
{% endblock %}


{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>{% trans "Welcome" %}</h1>
  <p>{% trans "This is a simple app for improving skills to hear different musical constructs and to read the corresponding musical notation." %}</p>
  <div class="btn-group btn-group-justified">
    <p>
      <a href="/accounts/login" class="btn btn-primary btn-lg" role="button">{% trans "Please sign in" %} &raquo;</a>
      <!-- span class="localizestring">or</span -->
      <a href="/accounts/register" class="btn btn-primary btn-lg" role="button">{% trans "Sign up" %} &raquo;</a>
    </p>
  </div>
</div>

<!-- span class="news" / -->
{% endblock %}
