{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
  translate_page("indexpage", lang);
  insert_langchooser();
});
//]]></script>
{% endblock %}

{% block content_title %}
Home
{% endblock %}

{% block content %}
<P>
<a href="/accounts/login"><span class="localizestring">Please sign in</span></a> <span class="localizestring">or</span> <a href="/accounts/register"><span class="localizestring">sign up</span></a>.
</P>
{% endblock %}
