{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
{% trans "Music Training | Choose your exercise" %}
{% endblock %}

{% block content %}
<div id="courses">
{% for lecture in lectures %}
  <div class="col-xs-4 col-lecture{% if lecture.completed %} inactive-lecture{% endif %}">
    <h2 class="lecture-title">{{ lecture.title  }}</h2>
    {% if lecture.instructions %}
      <h3>{% trans "Hints" %}</h3><p>{{ lecture.instructions }}</p>
    {% endif %}
    {% if lecture.outside_info_name %}
      <h3>{% trans "More information" %}</h3>
      <a class="outside" href="{{ lecture.outside_info_link }}">
        {{ lecture.outside_info_name }}
      </a>
    {% endif %}
    <h3>{% trans "Exercise information" %}</h3>
    <ul class="lecture_info">
      <li>{% trans "version" %} {{ lecture.version }}</li>
      <li>{{ lecture.num_exercises }} {% trans "exercises" %}</li>
      {% if lecture.completed %}
      <li>{% trans "completed" %}
        <ul>
          <li>{% trans "version" %} {{ lecture.completed_version }}</li>
          <li>{% trans "score" %} {{ lecture.correct }}/{{ lecture.total_responses }}</li>
          <li>{% trans "on" %} {{lecture.complete_date}}</li>
        </ul>
      </li>
      {% endif %}
    </ul>
    <a class="btn btn-lg btn-primary" href="">{% trans "Enter" %} &raquo;</a>
  </div>
{% endfor %}
</div>
{% endblock %}
